.list {
    $self: &;
    margin-bottom: 30px;

    &__add-button {
        opacity: 0.4;
    
        &:hover {
            opacity: 1;
        }
    }
    
    li {
      display: flex;
      align-items: center;
      cursor: pointer;
      padding: 10px 12px;

      &:hover #{$self}__remove-icon {
        opacity: 0.3;
      }
      #{$self}__remove-icon {
        opacity: 0;

        &:hover {
          opacity: 0.8;
        }
      }
      span {
        flex: 1;
      }

      &:hover {
        background-color: rgba(255,255,255,0.5);
      }
      &.active {
        background-color: #fff;
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
        border-radius: 4px;
        margin-bottom: 5px;
      }
      i {
        display: inline-flex;
        margin-right: 8px;
        
        img {
          opacity: 0.6;
        }
      }

    }
  }